<div class="nextprev">
    <br><br>
    {{ with .PrevInSection }}
      <a class="eventnav previous" href="{{.Permalink}}">« {{.Title}}</a>
    {{ end }}
    {{ with .NextInSection }}
      <a class="eventnav next" href="{{.Permalink}}"> {{.Title}} »</a>
    {{ end }}
</div>

