{{ define "head" }}
	{{ if .Params.featuredImg -}}
	<style>.bg-img {background-image: url('{{.Params.featuredImg}}');}</style>
	{{- else if .Params.images -}}
		{{- range first 1 .Params.images -}}
		<style>.bg-img {background-image: url('{{. | absURL}}');}</style>
		{{- end -}}
	{{- end -}}
{{ end }}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}

	{{- if (or .Params.images .Params.featuredImg) }}
	<div class="bg-img"></div>
	{{- end }}
	<main class="site-main section-inner thin animated fadeIn faster">
		{{ partial "breadcrumb" . }}
		<div class="content">
		    <h1>{{ .Title }}</h1>
		    <p><b>Wat? </b>{{ .Description }}</p>
		    <p><b>Wanneer? </b>{{ .Date.Format "Monday, Jan 2, 2006 15:04" }}</p>
		    {{ if .Params.coordinates }}
		    <p><b>Waar? </b><a class ="content" href="geo:{{ .Params.coordinates }}?z=17">{{ .Params.location }}</a></p>
		    {{ else }}
		    <p><b>Waar? </b>{{ .Params.location }}</p>
		    {{ end }}
		    <p><b>Prijs? </b>{{ .Params.price }}</p>
	            <blockquote>
			{{ .Content | replaceRE "(<h[1-6] id=\"([^\"]+)\".+)(</h[1-6]+>)" `${1}<a href="#${2}" class="anchor" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path><line x1="8" y1="12" x2="16" y2="12"></line></svg></a>${3}` | safeHTML }}
	        	</blockquote>
			{{- if .Params.fburl }}
			<p>Meer informatie op <a href={{ .Params.fburl }}>Facebook</a></p>
			{{- end }}
		</div>
		{{ partial "nextprev.html" .  }}
	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
