<!-- put bunch of photos in /static/img/albumName -->
<!-- and insert shortcode "album albumName" in blogpost.md -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{{ $albumUrl := print "/static/img/" ($.Get 0) }}
<div class="grid">
{{ range readDir $albumUrl }}
    {{ $imgURL := print "img/" ($.Get 0) "/" .Name | absURL }}
    <div class="grid-item"><a href="{{ $imgURL }}"><img style="max-width: 300px; margin-bottom: 10px;" src="{{ $imgURL }}"/></a></div>
    {{ end }}
</div>

<script>
var $grid = $('.grid').masonry({
	  // options
	  itemSelector: '.grid-item',
	  columnWidth: 300,
	  gutter: 10
});
$grid.imagesLoaded().progress( function() {
	  $grid.masonry('layout');
});
</script>
