{{ $pdfUrl := print "/pdf/" ($.Get 0) }}
<object data="{{ $pdfUrl }}" type="application/pdf" width="100%" height="700px">
    <embed src="{{ $pdfUrl }}">
	    <p>Deze browser ondersteunt geen PDF's. Download de PDF om hem te bekijken.</p>
    </embed>
</object>
<p><a href="{{ $pdfUrl }}">Download PDF</a></p>
